<h1>Bloggity: The EmberJax Blog</h1>

<div id="posts">
  <ul>
    {{#each model as  |post|}}
      {{#link-to "post" post }}
        <li class='post-{{post.id}}'>{{ post.title }}</li>
      {{/link-to}}
    {{/each }}
  </ul>

  {{ link-to "New Post" "new-post" }}
</div>
